extends ../main

block variables
  - var pageTitle = 'Погнали: Попутчики'
  - var firstTitle = 'Попутчики'

include ../mixins/checkbox
include ../mixins/checkbox-without-name

block content
  main.companions
    section.first-block
      .container-outter
        h1.title-first= firstTitle
        a.first-block__btn-back(href="index.html") на главную
    aside.filter-countries.companions__filter-countries
      .container-outter
        .filter-countries__row
          h4.title-fourth.filter-countries__title-fourth фильтрация по странам:
          button.filter-countries__btn-dots.filter-countries__btn-dots--no-js
            span.visually-hidden показать все
            span.filter-countries__btn-dots-desc показать все
            span.filter-countries__btn-dots-img
          button.filter-countries__btn-hide.filter-countries__btn-hide--no-js
            span.filter-countries__btn-hide-desc свернуть
            svg.filter-countries__btn-hide-img#Layer_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 18.6 18.6', style='enable-background:new 0 0 18.6 18.6;', xml:space='preserve')
              path(fill='currentColor', d='M11.4,9.3l6.7-6.7c0.6-0.6,0.6-1.5,0-2.1s-1.5-0.6-2.1,0L9.3,7.2L2.6,0.4C2-0.1,1-0.1,0.4,0.4C-0.1,1-0.1,2,0.4,2.6l6.7,6.7\
              L0.4,16c-0.6,0.6-0.6,1.5,0,2.1s1.5,0.6,2.1,0l6.7-6.7l6.7,6.7c0.6,0.6,1.5,0.6,2.1,0s0.6-1.5,0-2.1L11.4,9.3z')
          form.filter-countries__form-parts.filter-countries__form-parts--no-js(action="https://echo.htmlacademy.ru" method="get")
            fieldset.filter-countries__parts
              ul.filter-countries__parts-list
                each n in filterCountries.parts
                  li.filter-countries__parts-value
                    a.filter-countries__parts-item(href="#")= n
        form.filter-countries__form-countries.filter-countries__form-countries--no-js(action="https://echo.htmlacademy.ru" method="get")
          include ../blocks/alphabet-short
          include ../blocks/alphabet-full
          button.filter-countries__btn свернуть
    .companions__wrap
      .container-outter
        .filter-users.companions__filter-users
          h4.visually-hidden фильтрация по попутчикам
          p.title-third.filter-users__title-third Подберите идеального попутчика
          form(action="https://echo.htmlacademy.ru" method="get")
            fieldset.filter-users__fieldset
              +checkbox('хобби', 'hobby', filterUsers.hobby)
              +checkbox('музыка', 'music', filterUsers.music)
              +checkbox('еда', 'food', filterUsers.food)
              +checkbox-without-name('транспорт', 'transport', filterUsers.transport)
              .box-level
                label.box-level__heading-wrap
                  h3.title-fourth левел:
                  .box__btn.box__btn--close
                    img.box__img(src="./img/triangle-arrow-right.svg" width="10" height="7")
                .box-level__value
                  .box-level__number
                    label.box-level__min-level
                      input.box-level__input(type="number" name="min-level" value="30" step="1")
                    label.box-level__max-level
                      input.box-level__input(type="number" name="max-level" value="100" step="1")
                  .box-level__line
                    // main-line
                    .box-level__active-line
                    // active-line
                    .box-level__toggle-min
                    .box-level__toggle-max
            button.filter-users__btn(type="submit") показать
        .companions__content-wrap
          .companions__users-wrap
            each user in users.slice(0,4)
              article.user-full
                picture
                  source(media="(min-width: 1440px)", srcset="./img/" + user.class + "-desktop@1x.jpg, ./img/" + user.class + "-desktop@2x.jpg 2x")
                  source(media="(min-width: 768px)", srcset="./img/" + user.class + "-tablet@1x.jpg, ./img/" + user.class + "-tablet@2x.jpg 2x")
                  img.user-full__img(src="./img/" + user.class + "-mobile@1x.jpg", srcset="./img/" + user.class + "-mobile@2x.jpg 2x", alt="Фото пользователя")
                .user-full__content
                  .user-full__row-upper
                    .user-full__name-wrap(class= "user-full__name-wrap--" + user.status)
                      p.user.user-full__user= user.firstname
                      p.user.user-full__user= user.lastname
                    ul.tags.user-full__tags
                      each n in user.tags
                        li.tags__item= "#" + n
                  .user-full__wishes-wrap
                    h5.title-fifth.user-full__title-fifth хочет посетить:
                    ul.wishes.user-full__wishes
                      each n in user.wishes
                        li.wishes__item
                          svg.wishes__country-flag
                            use(xlink:href="./img/general.svg#flag-" + n.en)
                          //- img.wishes__country-flag(src="./img/flag-bosnia-and-herzegovina.png" width="35" height="24" alt= "Флаг " + n)
                          p.wishes__country-name= n.ru
                  .user-full__row-lower
                    .user-full__moves-wrap
                      h5.title-fifth.user-full__title-fifth транспорт:
                      ul.moves.user-full__moves
                        each n in user.moves
                          li.moves__item.moves__item--alt
                            svg.moves__icon.moves__icon--alt(class= n.condition?"moves__icon--active":null)
                              use(xlink:href= "./img/general.svg#icon-" + n.name)
                    .user-full__skill-wrap
                      svg.circle.circle--alt(class= "circle--" + user.class)
                        use(xlink:href="./img/general.svg#circle")
                      h5.title-fifth.user-full__title-fifth левел:
                      .user-full__level-wrap
                        span.user-full__skill-level= user.skill
                        p.user-full__skill-unit level
                  a.user-full__btn-user(href="#") позвать!
          a.companions__btn-open(href="#") показать еще
          .companions__clicker-wrap
            ul.companions__pages
              li.companions__page-number.companions__page-number--active
                a.companions__page-link(href="#") 1
              li.companions__page-number
                a.companions__page-link(href="#") 2
              li.companions__page-number
                a.companions__page-link(href="#") 3
              li.companions__page-number
                a.companions__page-link(href="#") 4
            a.companions__btn-clicker.companions__btn-clicker--left(href="#")
            a.companions__btn-clicker.companions__btn-clicker--right(href="#")
