extends ../main

block variables
  - var pageDirections = true
  - var pageTitle = 'Погнали: Направления'
  - var firstTitle = 'Направления'
  - var person = users[1]

block content
  main.directions
    section.first-block
      .container-outter
        h1.title-first= firstTitle
    section.user-box.directions__user-box
      .container-outter
        h2.visually-hidden Информация о пользователе
        .user-box__row
          .user-box__skill
            svg.circle.circle--alt-second(class= "circle--" + person.class)
              use(xlink:href="./img/general.svg#icon-circle")
            .user-box__level-wrap
              span.user-box__skill-level= person.skill
              p.user-box__skill-unit level
          picture
            source(type="image/webp", media="(min-width: 768px)", srcset="./img/photo-account-tablet@1x.webp, ./img/photo-account-tablet@2x.webp 2x")
            source(type="image/webp", srcset="./img/photo-account-mobile@1x.webp, ./img/photo-account-mobile@2x.webp 2x")
            source(media="(min-width: 768px)", srcset="./img/photo-account-tablet@1x.jpg, ./img/photo-account-tablet@2x.jpg 2x")
            img.user-box__img(src="./img/photo-account-mobile@1x.jpg", srcset="./img/photo-account-mobile@2x.jpg 2x", alt="Фото пользователя")
        button.user-box__btn(type="button")
          span.user-box__btn-desc сменить фото
        button.user-box__btn.user-box__btn--alt(type="button")
          span.user-box__btn-desc фото
        .user-box__tags-wrap
          p.title-fourth.user-box__title-fourth тэги
          textarea.user-box__tags(name="about-me", type="text" placeholder="Коротко о себе в виде 5-8 хештегов")= "#" + person.tags[0] + " " + "#" + person.tags[1] + " " + "#" + person.tags[2] + " " + "#" + person.tags[3] + " " + "#" + person.tags[4]
        .user-box__moves-wrap
          p.title-fourth.user-box__title-fourth транспорт
          ul.moves.user-box__moves
            each n in person.moves
              li.moves__item
                svg.moves__icon.moves__icon--alt(class= n.condition?"moves__icon--active":null, aria-label= n.name)
                  use(xlink:href= "./img/general.svg#icon-" + n.name)
    section.plans-actual.directions__plans-actual
      .container-outter
        h2.title-second.title-second--color-blue-middle.plans-actual__title-second Мои планы:
        ul.plans-actual__list
          each n in person.plans
            li.plans-actual__item
              .plans-actual__row
                p.plans-actual__number= n + '. '
                p.plans-actual__name= person.direction[n]
              .plans-actual__wrap
                p.plans-actual__desc= person.companion[n]
                p.plans-actual__desc= person.period[n]
              a.plans-actual__btn-correct(href="#") изменить
    section.plans-create.directions__plans-create
      .container-outter
        h2.title-second.title-second--color-blue-dark.plans-create__title-second Добавить план:
        .plans-create__dots-wrap
          span.plans-create__dot.plans-create__dot--active
          span.plans-create__dot
          span.plans-create__dot
        form.plans-create__form(id="step-form" action="https://echo.htmlacademy.ru" method="get")
          include ../blocks/steps/step-first
          include ../blocks/steps/step-second
          include ../blocks/steps/step-third
