extends ../main

block variables
  - var pageTitle = 'Погнали: Направления'
  - var firstTitle = 'Направления'
  - var person = users[2]

block content
  main.main-directions
    .title-first-block
      h1.title-first.header__title-first= firstTitle
    section.user-box.main-directions__user-box
      .container-outter
        .user-box__row
          .user-box__skill
            .user-box__level-wrap
            span.user-box__level= person.skill
            p.user-box__unit level
          .user-box__img-avatar
        .btn.btn--form-round.btn--color-font-blue-dark.user-box__btn сменить фото
        .user-box__tags-wrap
            ul.tags.user-box__tags
              h4.title-fourth.user-box__title-fourth тэги
              each n in person.tags
                li.tags__item= "#" + n
        .user-box__moves-wrap
          h4.title-fourth.user-box__title-fourth транспорт
          ul.moves.user-box__moves
            each n in person.moves
              li.moves__item
                span.visually-hidden= "Иконка " + n.name
                svg.moves__icon(class= n.condition?"moves__icon--active":null)
    section.plans-actual.main-directions__plans-actual
      .container-outter
        h2.title-second.title-second--color-blue-middle.plans-actual__title-second Мои планы:
        ul.plans-actual__list
          each n in person.plans
            li.plans-actual__item
              .container-inner
                p.plans-actual__name= n + '. ' + person.direction[n]
                .plans-actual__desc-wrap
                  p.plans-actual__desc= person.companion[n]
                  p.plans-actual__desc= person.period[n]
                a.btn(href="#") изменить
    section.plans-create.main-directions__plans-create
      .container-outter
        h2.title-second.title-second--color-blue-dark.plans-actual__title-second Добавить план:
        .plans-create__dots-wrap
          span.plans-create__dot.plans-create__dot--active
          span.plans-create__dot
          span.plans-create__dot
        form.plans-create__form(id="form")
          include ../blocks/steps/step-first
          include ../blocks/steps/step-second
          include ../blocks/steps/step-third
