extends ../main

block variables
  - var pageIndex = true
  - var pageTitle = 'Погнали: Главная'
  - var firstTitle = 'О сервисе'

block content
  main.index
    section.first-block.first-block--special
      h1.visually-hidden= firstTitle
      .container-outter--special
        .first-block__content
          p.first-block__moto
            | В путешествие
            br
            | с крутыми
            br
            | попутчиками!
          .first-block__review
            p.paragraph
              | &#171;Лучшее приложение,
              br
              | что я видел в жизни!&#187;
            p.paragraph.paragraph--bold
              | Мурат Эльтазин
              br
              | главный редактор газеты &#171;гаджетлайф&#187;
        ol.first-block__list
          li.first-block__item
            p.first-block__desc Выберите направление
          li.first-block__item
            p.first-block__desc Изучите идеи путешественников
          li.first-block__item
            p.first-block__desc Находите тех, кто похож на вас
          li.first-block__item
            p.first-block__desc Путешествуйте вместе!
    section.about.index__about
      .container-outter
        h2.title-second.title-second--orange.about__title-second О сервисе
        p.paragraph.about__paragraph Любое путешествие веселее с попутчиками, которые на одной волне с тобой! Делитесь своими идеями путешествий и черпайте вдохновение в чужих.
        p.paragraph.paragraph--bold.about__paragraph А если найдете кого-то близкого по духу — скорее зовите в совместный трип!
        a.index__btn-content(href=".directions.html") Подробнее
    section.countries.index__countries
      .container-outter
        .countries-wrap
          h2.title-second.title-second--orange.countries__title-second Направления
          p.paragraph.countries__paragraph Мы не продаем туры и ничего не рекламируем. Люди сами пишут о странах, куда хотели бы отправиться и чем можно там заняться.
          .countries__wrap
            each country in countries
              article.country-card.countries__country-card
                  .country__img
                  .country-card__info
                    .country-card__info-wrap
                      h3.title-third.country-card__title-third= country.name
                      p.country-card__moto= country.moto
                    span.country-card__visitors= country.visitors
          a.index__btn-content(href=".directions.html") Показать все
    section.travelers.index__travelers
      .container-outter
        h2.title-second.title-second--orange.travelers__title-second.wrap-inner Попутчики
        p.paragraph.travelers__paragraph.wrap-inner Все мы индивидуальны и у каждого свой взгляд на идеальный отдых. Одному нужен пляж и коктейль, а другому маршрут для хайкинга.
        p.paragraph.paragraph--bold.travelers__paragraph.wrap-inner Теперь можно легко найти единомышленников!
        .travelers__wrap
          each user in users.slice(0,2)
            article.user-short
              .user-short__img
              .user-short__info
                //- .container-inner
                ul.wishes.user-short__wishes
                  each n in user.wishes
                    li.wishes__item
                      img.wishes__country-flag(src="./img/flag-bosnia-and-herzegovina.png" width="35" height="24" alt= "Флаг " + n)
                p.user.user-short__user(class= "user--" + user.status)= user.firstname + " " + user.lastname
                ul.tags.user-short__tags
                  each n in user.tags
                    li.tags__item= "#" + n
                ul.moves
                  each n in user.moves
                    li.moves__item
                      span.visually-hidden= "Иконка " + n.name
                      //- svg.moves__icon(class= n.condition?"moves__icon--active":null)
              .user-short__skill
                .user-short__level-wrap
                  span.user-short__skill-level= user.skill
                  p.user-short__skill-unit level
        a.index__btn-content(href="companions.html") Показать всех
    section.advertising.index__advertising
      .container-outter
        h2.visually-hidden Рекламные тарифы
        p.advertising__moto Добавьте свой профиль
        ol.advertising__list
          each n in advertising.general
            li.advertising__item
              .advertising__desc-wrap
                p.advertising__desc= n.desc
                p.advertising__desc= n.price
        a.advertising__btn(href="#") Показать тарифы для бизнеса
    section.business.index__business
      .container-inner
        h2.title-second.title-second--orange.business__title-second Бизнес-тарифы
        ul.business__list
          each n in advertising.business
            li.business__item
              p.paragraph.business__paragraph= n.desc
              p.paragraph.business__paragraph= n.price
      button.business__btn закрыть окно
    section.check-in.index__check-in
      .container-outter
        h2.visually-hidden Раздел регистрации
        p.title-second.title-second--orange.check-in__title-second Заинтересовались?
        p.paragraph
          | Зарегистрируйтесь, это быстро и бесплатно!
          br
          | Уже зарегистрированы? Тогда скорее
          a.check-in__link(href="#") авторизуйтесь
          |.
        form.check-in__email(action="https://echo.htmlacademy.ru" method="post")
          span.visually-hidden Форма ввода личных данных для входа (почта)
          input.check-in__input(type="email" name="login" placeholder="E-mail" required)
          button.check-in__btn(type="submit")
        p.paragraph Остались вопросы? Мы с радостью на них ответим!
        include ../blocks/contacts-full
    section.adress.index__adress
      .container-outter
        h2.visually-hidden Раздел адреса и карты
        p.adress__desc ул. Большая Конюшенная, 19/8
        a.index__btn-content.index__btn-content--border(href="#") Проложить маршрут
    .index__map#map
