block variables

article.user-card.user-card--short
		img.user-card__img.user-card__img_type--bg(class= userClass src="#" alt="Фото попутчика")
		.user-card__skill-wrapper
			.user-card__skill
				progress.user-card__skill-graph(value= skillNumber max="100")
				.user-card__level-wrapper
					input.user-card__level(type="text" value= skillNumber)
					p.user-card__unit level
		ul.user-card__wish-list.wish-list
			each n in wishes
				li.wish-list__country-item
					img.countrys__flag(src="#" alt="Флаг")
		.user-card__name-wrapper
			svg.user-card__user-status
			h3.user-card__name.title-third= userName
		ul.user-card__like-list.like-list
			each n in likes
				li.like-list__item= "#" + n
		.user-card__move-list-wrapper
			ul.user-card__move-list.move-list
				li.move-list__item
					span.visually-hidden= "Иконка самолета"
					svg.moves__icon.moves__icon--fly
				li.move-list__item
					span.visually-hidden= "Иконка автобуса"
					svg.moves__icon.moves__icon--drive
				li.move-list__item
					span.visually-hidden= "Иконка велосипеда"
					svg.moves__icon.moves__icon--ride
				li.move-list__item
					span.visually-hidden= "Иконка бега"
					svg.moves__icon.moves__icon--run